* {
  box-sizing: border-box;
}

.one {
  display: flex;
  border: 5px solid;
  height: 200px;
  column-gap: 3em;
  padding: 1em;
}

.col {
  background-color: purple;
  height: 80%;
  width: 50px;
  align-self: flex-end;
}

.rect {
  background-color: green;
  height: 100%;
  width: 600px;
}

.circle {
  background-color: rgb(61, 172, 200);
  border-radius: 50%;
  width: 160px;
}

.two {
  border: 5px dotted;
  height: 225px;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.rect2 {
  width: 90%;
  height: 70%;
  background-color: rgb(245, 242, 198);
  align-self: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.three {
  display: flex;
  background-color: rgb(248, 245, 240);
  width: 35%;
  height: 250px;
  margin: 1em auto;
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.53);
  justify-content: center;
  align-items: center;
}

.three > div {
  font-size: 1.75em;
  font-weight: 600;
  color: darkblue;
  text-align: center;
  letter-spacing: 0.5em;
}
